<h1>Ning Xia Stories</h1>
<h2 style="text-align: center;">起源</h2>
<p style="text-align: center;"><%= image_tag 'nx_origin.png', :class => 'img-thumbnail', :width => '900' %></p>
<p>圓環原為大稻埕鬧區附近四條道路交會的環狀區域，由於日本人推行「市區改正」計劃，使得圓環變成一個圓形小型公園-「圓公園」，中心為空地，周圍遍栽七里香，榕樹等。在淡水河商船興起與鐵路運開通之後，大稻埕開始繁榮。大稻埕的腹地-建成區，成為了商人落腳休息的地方，再加上附近居民日增，生意人見商機無限，開始在附近擺攤，經生意興隆消息遠播，一九二ㄧ年後，各式各樣稱為「露店」的露天攤販大量聚集，形成大型消費圈，並發展出肉圓和蚵仔麵線等具鄉土風味小吃的飲食特色。</p>
</br></br></br>
<h2 style="text-align: center;">重生</h2>
<p style="text-align: center;"><%= image_tag 'nx_rebirth.png', :class => 'img-thumbnail', :width => '900' %></p>
<p>圓環商圈曾因第二次世界大戰影響飽受打擊，日本政府在一九四三年為戰時需要，下令禁止圓環夜市活動，且在圓環中央挖掘用來防空救火的蓄水池，及在四周興建防空壕，使攤販不得不另覓地點擺攤。
直到台灣光復，填平防空蓄水池和拆除防空壕後，圓環才再度成為攤販的聚集地，攤販生意變得更多元化，除販賣小吃，還兼賣日據時代的雜貨，熱絡的經濟活動使夜市可到天亮才休市，且當時台灣唱片工業一片蕭條，但圓環的夜市走唱活動，卻孕育出蘇桐、張邱東松和楊三郎等許多傑出台語音樂創作人才。
</p>
</br></br></br>
<h2 style="text-align: center;">顛峰</h2>
<p style="text-align: center;"><%= image_tag 'nx_peak.png', :class => 'img-thumbnail', :width => '900' %></p>
<p>一九四九年，國民政府來台後，圓環附近的建築一幢接一幢蓋，攤販活動的範圍與其並進，迅速蔓延，圓環的盛況自此而起，擴張到現在的寧夏路與重慶北路一帶，為圓環商圈盛況之流觴。在一九五四年，小販們自行募款規劃，建造了一些房舍，容納不少攤販，再加上附近的大光明、新舞台、永樂戲院落成，圓環的重要地位更加鞏固之後，也隨之擴張，讓圓環、南京西路、保安街和歸綏街等一帶形成當時台北最大的夜市-「圓環商圈」，也成為了逛完後火車站-批發集散地之後，最佳的覓食所在。</p>
</br></br></br>
<h2 style="text-align: center;">遷徙及現在</h2>
<p style="text-align: center;"><%= image_tag 'nx_now.png', :class => 'img-thumbnail', :width => '900' %></p>
<p>圓環從原是攤販聚所，經多次變遷和擴張後，逐漸形成一個建築的型態，在一九九三年和一九九九年兩度火災後，為保存圓環傳統小吃文化，內政部都市計畫委員會在二ΟΟΟ年通過闢建圓環專用區，並興建建成圓環美食館，但是卻因為設計不良等因素，造成經營虧損狀態，攤販也經營不下去，紛紛在附近另闢地點。原本的夜市就慢慢轉移到寧夏路一帶繼續營業，隨著透過良好的人車道路分配規劃以及夜市整體的規劃，更融為繁華寧夏的一體，卻也不失夜市風味，近來更致力於推動環保，包括垃圾分類及減量、環保筷、廚餘廢油回收，希望成為一個既乾淨又環保的觀光夜市。</p>
</br>